body {
	background-color: red;
}

#container {
	margin: 100px auto;
	background-color: white;
	width: 960px;
	height: 500px;
	text-align: center;
}

header h1{
	padding-top: 30px;
	text-align: center;
	font-size: 40px
}
header {
	text-align: center;
	position: relative;
}

header input {
	display: inline-block;
	margin: 0 auto;
	height: 30px;
	width: 200px;
	margin-top: 50px;
	font-size: 15px;

}